@font-face {
  font-family: "Google Sans";
  src: url("/fonts/GoogleSans-Regular.ttf");
}
@font-face {
  font-family: "Google Sans Bold";
  /* font-weight didn't work and it does, so... */
  src: url("/fonts/GoogleSans-Medium.ttf");
}

body {
  display: flex;
  padding: 10px;
  min-height: 100vh;
  flex-direction: column;
  font-family: 'Google Sans';
  font-weight: normal;
}
main {
  flex: 1 0 auto;
}

nav {
  display: flex;
  justify-content: space-between;
  /* margin: 0.5rem; */
  margin-bottom: 0;
  color: #444444;
}
nav .dots {
  margin-left: 8px;
}
nav > aside > i,
nav > aside > img,
img.icon {
  margin: 0 6px;
  width: 24px !important;
  height: 24px;
}

.upside-down {
  -webkit-transform:rotate(-180deg);
  -moz-transform:rotate(-180deg);
  -o-transform:rotate(-180deg);
  transform:rotate(-180deg);
}

#title {
  margin: 30px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 18px;
}
#title-star {
  margin-left: auto;
  color: #666666;
}
#title-inbox {
  background-color: #eee;
  font-size: 10px;
  padding: 0px 8px;
}
#sender {
  display: flex;
  flex-direction: row;
  margin: 15px 0;
}
#sender-avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: lightblue;
  color: #ffffff;
  font-weight: 100;
  font-size: 18px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  flex-shrink: 0;
  margin-right: 10px;
}
#sender-info {
  display: block;
  max-width: calc(100vw - 140px);
  flex-grow: 1;
  line-height: 20px;
}
#sender-email {
  display: inline-block;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 15px;
}
#sender-to {
  font-size: 14px;
  color: #666666;
}
#sender-more {
  font-size: 16px;
  position: relative;
  top: 4px;
  color: #666666;
}
#sender-date {
  font-size: 14px;
  color: #666666;
}
#sender-show-details {
  font-size: 14px;
  color: #4286f4;
}
#sender-actions {
  margin-left: auto;
  display: flex;
  flex-direction: row;
  color: #333333;
  width: 50px;
  justify-content: space-evenly;
  flex-shrink: 0;
}
#sender-actions > i {
  font-size: 20px !important;
}
#mail {
  font-size: 14px;
  /* line-height: 2em; */
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  font-weight: normal;
  color: rgba(0,0,0,0.87);
  /* font-family: 'Roboto'; */
}
img {
  width: 100%;
}
.actionbutton {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #666666;
}
#small-text {
  font-size: 10px;
  color: #000;
  line-height: 1.2em;
}
#small-text > a {
  text-decoration: underline;
}
footer {
  display: flex;
  flex-direction: row;
}
footer > div {
  border: 1px solid #bbbbbb;
  border-radius: 5px;
  margin: 0 3px;
  padding: 10px 0;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #666666;
  font-family: 'Google Sans Bold';
}
footer > div > span {
  text-align: center;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 50px;
}
